In [2]:
# set-up leave-days variable
leave_days = 0

In [3]:
leave_days = leave_days+1

In [4]:
print(leave_days)

1

In [11]:
# increment the value
leave_days += 1

In [13]:
print(leave_days)

4

In [16]:
# decrement the value
leave_days -= 1 #leave_days = leave_days -1

In [17]:
print(leave_days)

2

## If statement

In [19]:
leave_days = 30

#use boolean
take_leave = True

#decided to take leave
if take_leave: # condition
    
    leave_days -=5
    
print(leave_days)

25

In [28]:
# condition 2
grade = 32

if grade > 20: #condition
    outcome = "Pass"
    print(outcome)
else:
    outcome = "Average"
    print(outcome)

Pass

In [29]:
# condition 3
# whats happens if the studennt scores less than 20
grade = 9

if grade > 20: #condition
    outcome = "Pass" 
    print(outcome)
else:
    outcome = "Average"
    print(outcome)

Average

## And is
*used to join two or more conditions
*Example students who have scored above 40 but below 50 are said to have attained grade D
*Note - For and, all the conditions have to be True for the condition to be true

In [37]:
#Example
age = 12
gender = 'Male'

if age < 18 and gender == 'Male': #boths the conditons have to be met
    print('Boy')

Boy

Summary
|Condition 1|Condition 2|Final Condition|
|:---------:|:---------:|:-------------:|
|True|True|True|
|True|False|False|
|False|True|False|
|False|False|False|

Conditions
below 40 >> E
above 40 >> D
above 50 >> C
above 60 >> B
above 70 >> A

In [30]:
# grades

grade = 55
if grade>= 40 and (grade < 50):
    grade = "D"
    print(grade)
    
elif (grade >= 50) and (grade < 60):
    grade = "C"
    print(grade)
    
elif (grade >= 60) and (grade < 70):
    grade = "B"
    print(grade)
    
elif grade >= 70:
    grade = "A"
    print(grade)
    
else:
    print("E")

C

## OR
* just like and it's used to join conditions
* Atleast one condition should be True

Summary
|Condition 1|Condition 2|Final Condition|
|:---------:|:---------:|:-------------:|
|True|True|True|
|True|False|True|
|False|True|True|
|False|False|False|

In [56]:
#Example 
# Proceed to the bouncing castle
height = 30
weight = 40
if (height < 40) or (weight < 50): #condition is true if atleast one condition is met
    print("Proceed")

Proceed

In [55]:
#Example Solo Question
# Proceed to the bouncing castle
height = 60
weight = 60
if (height < 40) or (weight < 50): #condition is true if atleast one condition is met
    print("Proceed")
else:
    print("Rejected")

Rejected

# Assigment

## Contents
    1. Write a program that determines whether a number is even or odd. Print a message indicating whether the number is even or odd.
    2. Write a program that checks if a given year is a leap year. A leap year is divisible by 4, but not divisible by 100, except if its divisible by 400.
    3. Write a program that will use age to determine the price of a movie theater.
        *Age < 13  price Ksh 400
        *13 <= Age <=17 Ksh 600
        *18 <= Age 65 <= Ksh 800
        *Age > 65 Ksh 350

In [2]:
#1. Write a program that determines whether a number is even or odd. Print a message indicating whether the number is even or odd.
#If number if even

number = 15

if(number % 2) == 0:
    print("even")
    
else:
    print("odd")

odd

In [3]:
number = 12

if(number % 2) == 0:
    print("even")
    
else:
    print("odd")

even

In [5]:
#2. Write a program that checks if a given year is a leap year.
 # Condition => A leap year is divisible by 4, but not divisible by 100, except if its divisible by 400.

year = 2000

if (year%4==0) and (year%100!=0) or (year%400==0): #(If leap year is divisible by 4 or not divisible by 100) or (divisible by 400)
    outcome = "Leap Year"
    print(outcome)
else:
    outcome = "Not Leap Year"
    print(outcome)

Leap Year

In [6]:
year = 2001

if (year%4==0) and (year%100!=0) or (year%400==0): #(If leap year is divisible by 4 or not divisible by 100) or (divisible by 400)
    outcome = "Leap Year"
    print(outcome)
else:
    outcome = "Not Leap Year"
    print(outcome)

Not Leap Year

In [34]:
#3. Write a program that will use age to determine the price of a movie theater.
#    *Age < 13  price Ksh 400
#    *13 <= Age <=17 Ksh 600
#    *18 <= Age 65 <= Ksh 800
#    *Age > 65 Ksh 350

#Age vs. Price

Age = 10

if (Age < 13):
    price = "Kes. 400"
    print(price)

elif (Age >= 13) and (Age <= 17):
    price = "Kes. 600"
    print(price)
    
elif (Age >= 18) and (Age <= 65):
    price = "Kes. 800"
    print(price)

else:
    price = "Kes. 350"
    print(price)

Kes. 400

In [35]:
#Age vs. Price

Age = 16

if (Age < 13):
    price = "Kes. 400"
    print(price)

elif (Age >= 13) and (Age <= 17):
    price = "Kes. 600"
    print(price)
    
elif (Age >= 18) and (Age <= 65):
    price = "Kes. 800"
    print(price)

else:
    price = "Kes. 350"
    print(price)

Kes. 600

In [36]:
#Age vs. Price

Age = 66

if (Age < 13):
    price = "Kes. 400"
    print(price)

elif (Age >= 13) and (Age <= 17):
    price = "Kes. 600"
    print(price)
    
elif (Age >= 18) and (Age <= 65):
    price = "Kes. 800"
    print(price)

else:
    price = "Kes. 350"
    print(price)

Kes. 350

In [37]:
#Age vs. Price

Age = 42

if (Age < 13):
    price = "Kes. 400"
    print(price)

elif (Age >= 13) and (Age <= 17):
    price = "Kes. 600"
    print(price)
    
elif (Age >= 18) and (Age <= 65):
    price = "Kes. 800"
    print(price)

else:
    price = "Kes. 350"
    print(price)

Kes. 800