## Dictionaries with lists

In [3]:
friends = {'name': 'Friends', 'genre': 'sitcom', 'no_of_seasons': 10}

In [1]:
creators = ['David Crane', 'Marta Kauffman']

In [4]:
friends['creators'] = ['David Crane', 'Marta Kauffman']

In [5]:
friends

{'name': 'Friends',
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'creators': ['David Crane', 'Marta Kauffman']}

In [7]:
friends['no_of_seasons']

10

In [8]:
friends[14] = 'same value'

In [10]:
friends[14]

'same value'

In [11]:
del friends[14]

In [12]:
friends

{'name': 'Friends',
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'creators': ['David Crane', 'Marta Kauffman']}

In [13]:
friends["no_of_episodes"] = 236

In [14]:
friends

{'name': 'Friends',
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'creators': ['David Crane', 'Marta Kauffman'],
 'no_of_episodes': 236}

In [15]:
creators

['David Crane', 'Marta Kauffman']

In [16]:
friends['creators'][0]

'David Crane'

In [25]:
seinfeld = {'name': 'seinfeld', 'genre': 'sitcom', 'no_of_seasons': 10, 'creators': ['Larry David', 'Jerry Seinfeld'], 'no_of_episodes': 180}

In [26]:
seinfeld

{'name': 'seinfeld',
 'genre': 'sitcom',
 'no_of_seasons': 10,
 'creators': ['Larry David', 'Jerry Seinfeld'],
 'no_of_episodes': 180}

In [27]:
tv_shows = [friends, seinfeld]

In [28]:
tv_shows

[{'name': 'Friends',
  'genre': 'sitcom',
  'no_of_seasons': 10,
  'creators': ['David Crane', 'Marta Kauffman'],
  'no_of_episodes': 236},
 {'name': 'seinfeld',
  'genre': 'sitcom',
  'no_of_seasons': 10,
  'creators': ['Larry David', 'Jerry Seinfeld'],
  'no_of_episodes': 180}]

In [29]:
tv_shows[1]['creators']

['Larry David', 'Jerry Seinfeld']

In [30]:
tv_shows[1]['creators'][1]

'Jerry Seinfeld'

In [31]:
jerry = tv_shows[1]['creators'][1]

In [32]:
jerry

'Jerry Seinfeld'

## Working with Dictionaries - Lab

### Introduction
Using knowledge of dictionaries to retrieve and assign data about various cities.

#### Objectives
* To assign values in a dictionary
* To access keys and values in a dictionary

In [33]:
# Greenville, North Carolina
greenville = {'Area': 68, 'City': 'Greenville', 'Country': 'USA', 'Population': 84554}

In [34]:
greenville_population = greenville['Population']

In [35]:
greenville_population

84554

In [37]:
greenville_area = greenville['Area']

In [38]:
greenville_area

68

In [42]:
city_keys = greenville.keys()

In [43]:
city_keys

dict_keys(['Area', 'City', 'Country', 'Population'])

In [44]:
print(city_keys)

dict_keys(['Area', 'City', 'Country', 'Population'])

In [46]:
city_values = greenville.values()

In [47]:
city_values

dict_values([68, 'Greenville', 'USA', 84554])

### Working with multiple cities

In [55]:
import pandas as pd

In [58]:
pd.__version__

'1.5.3'

In [69]:
data_set = pd.read_excel('cities.xlsx')

In [70]:
data_set

                  City      Country  Population     Area
0                Solta      Croatia        1700       59
1           Greenville          USA       84554       68
2         Buenos Aires    Argentina    13591863     4758
3            Los Cabos       Mexico      287651     3750
4   Walla Walla Valley          USA       32237       33
5             Marakesh      Morocco      928850      200
6          Albuquerque   New Mexico      559277      491
7      Archipelago Sea      Finland       60000     8300
8         Iguazu Falls    Argentina           0      672
9        Salina Island        Italy        4000       27
10             Toronto       Canada         630  2731571
11         Pyeongchang  South Korea     2581000     3194

In [71]:
cities = data_set.to_dict('records')

In [72]:
cities

[{'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59},
 {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68},
 {'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 13591863,
  'Area': 4758},
 {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200},
 {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672},
 {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27},
 {'City': 'Toronto', 'Country': 'Canada', 'Population': 630, 'Area': 2731571},
 {'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000,
  'Area': 3194}]

In [74]:
# the third to last element and set it equal to the variable "salina".
print(cities[1])

{'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68}

In [77]:
salina = cities[2:11]

In [81]:
salina

[{'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 13591863,
  'Area': 4758},
 {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200},
 {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672},
 {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27},
 {'City': 'Toronto', 'Country': 'Canada', 'Population': 630, 'Area': 2731571}]

In [83]:
los_cabos_pop = salina[3]['Population']

In [84]:
los_cabos_pop

928850

In [85]:
cities

[{'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59},
 {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68},
 {'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 13591863,
  'Area': 4758},
 {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200},
 {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672},
 {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27},
 {'City': 'Toronto', 'Country': 'Canada', 'Population': 630, 'Area': 2731571},
 {'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000,
  'Area': 3194}]