# Functions

* A reusable named block of codes that are designed to do one specific job.
* When you want to perform a particular task that you have defined in a function, you *call* the function responsible for it.
* If you need to perform that task multiple times accross your programme, you don't need to type the code all over again and again; you just call the fucntion dedicated to handling that task
* Using functions makes your program easier to write, read, test and fix.

In [ ]:
# zen of pyhtom
import this

## Types of functions
1. `User-defined functions` - Functions that are created/defined by the user from scratch and then call them wherever we want to use them.
2. `Built-in functions` - Functions that are defined in the Pyhton Libraries and are called directly

## Defining a Function

In [6]:
# Example1
def greet_user():
    """Display a simple greeting"""
    print("Hello")
greet_user()

Hello

'def greet_user():'
* Using the keyword 'def' to inform python that you're defining a funtion. Also referred to as *funtion definition*.
* Function def tells pyhton the name of the function, in example above, **greet_user**
* It also informs python, if applicable, what kind of information the function needs to perform its task/job. This is passed into the function using the `()`. In this case, the function need no infromation to perfrom its tasks hence the empty brackets.
* Any indented libes that follow the ':' make up the body of the function.
`"""Display a simpe greeting"""`
* this is a comment that describes what the function does.
* If a single short one line statement, we can use a `#`

`print("Hello World!")`
* Function body line(s) indented inside the function.
* Contains set of instructions on the code to be executed.

`greet_user()'
* WHen you want to use a function, you call it.
* A **function call** tells python to execute the indented code in the funtion body.
* To call a function, write the function name, in our example, `greet_user`, followed by any necessary information in the `()`.

In [7]:
# comment

"""Comment"""

"""
This is multiple line comment
Tripple double quotes
"""

'\nThis is multiple line comment\nTripple double quotes\n'

In [8]:
# Example2
def add_numbers(): # defining function
    a=2
    b=5
    sum = a + b
    print(sum)

add_numbers() # aclling function

7

## Passing information to a function
* The function greet_user can only tell the user *Helloh* but not greet them by name

In [9]:
# Example1 - reloaded
def greet_user(username):
    """Display a simple greeting"""
    print(f"Hello {username}!")
greet_user('Kocheli')

Hello Kocheli!

* Adding the `username` in our function definition, we're allowing the FXN to accept any value for *username*.
* Expectations: - provide a value of a *username* each time you call it

In [10]:
greet_user('Lesley')

Hello Lesley!

#### errors that we might encounter
* `parameters` - in the example greet_user(username), *username* is the parameter. This is a piece of information the FXN needs to do its job/tasks
* `arguments` - the value *Antonny* and *Melly* are arguments. A piece of information that's passed from a function call to a function.

In [11]:
greet_user()

TypeError: greet_user() missing 1 required positional argument: 'username'

* We must pass in arguments during functions calls to avoid errors

In [12]:
# Example3
def describe_pet(animal_type, pet_name):
    """ Display information about a pet """
    print(f"I have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name}.")
    
describe_pet('Cat', 'Trixy')

I have a Cat.
My Cat's name is Trixy.

* When you call a function, Python must match each argument in the function call with a parameter in the function definition.

In [13]:
""" the arguments match the order of the parameter"""
describe_pet('Beer', 'Tusker') # This is wrong

I have a Beer.
My Beer's name is Tusker.

In [14]:
# alternatively
describe_pet(pet_name='Tusker', animal_type='Beer')

I have a Beer.
My Beer's name is Tusker.

* Defining a **Default Values** for the parameter `animal_type` and setting it as `Dog`.

In [15]:
# default values
def describe_pet(pet_name, animal_type = 'Dog'):
    """ Display information about a pet """
    print(f"I have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name}.")

In [16]:
describe_pet('Trixy')

I have a Dog.
My Dog's name is Trixy.

If an argument for a parameter is not provided in the function call, pyhton uses the default value i.e. `Dog` in the example above

If an argument for a parameter is provided in the function call, pyhton uses the argument value, for example

In [17]:
describe_pet('Molly', 'Bebz')

I have a Bebz.
My Bebz's name is Molly.

## Return Valuers
* A function doesn't have to display its output directly.

In [18]:
# Return Valuers example
def add_numbers(a, b):
    """ Sums two numbers"""
    sum = a + b
    output = f"{a} + {b} = {sum}"
    
add_numbers(9, 6)

* Function process data and then return a value or set of values, called **return valuers**

In [19]:
# Modify Return Valuers example
def add_numbers(a, b):
    """ Sums two numbers"""
    sum = a + b
    output = f"{a} + {b} = {sum}"
    
    return output

add_numbers(9, 6)

'9 + 6 = 15'

In [20]:
# further example
def send_greeting(user):
    """ Welsome users to a wedding"""
    message = f"Welcome {user} to Lesley and Katamu's wedding"
    
send_greeting('Cathy')

In [21]:
# further example modified
def send_greeting(user):
    """ Welsome users to a wedding"""
    message = f"Welcome {user} to Lesley and Katamu's wedding"
    
    return message
    
send_greeting('Cathy')

"Welcome Cathy to Lesley and Katamu's wedding"

* The `return` statement takes a value or set of values from inside a function and sends it back to the line that called the function.

In [22]:
welcome_message = send_greeting('Kocheli')

print(welcome_message)

Welcome Kocheli to Lesley and Katamu's wedding

In [23]:
# example return

def calculator(a, b, operator):
    """Simple arithmetic operatoions"""
    if (operator.strip() == "+"):
        sum = a + b
        sum_out = f" {a} + {b} = {sum}"
        
        return sum_out
    elif (operator.strip() == "-"):
        diff = a - b
        diff_out = f"{a} - {b} = {diff}"
        
        return diff_out
    elif (operator.strip() == "*"):
        times = a * b
        times_out = f"{a} * {b} = {times}"
        
        return times_out
    elif (operator.strip() == "/"):
        divide = a / b
        divide_out = f"{a} / {b} = {divide}"
        
        return divide_out
    elif (operator.strip() == "**"):
        square = a ** b
        square_num = f"{a} ** {b} = {square}"
        
        return square_num
    else:
        print("Enter Maths Operator")
        
        
calculator(28, 7, "/")

'28 / 7 = 4.0'

In [24]:
calculator(4, 4, "+")

' 4 + 4 = 8'

In [25]:
calculator(2, 2, "**")

'2 ** 2 = 4'

###### return more than one value

In [26]:
def alt_calc(a, b):
    """ Alternative calculator"""
    sum = a + b
    diff = a - b
    multiplication = a * b
    square = b ** b
    
    # return a set of values.
    return sum, diff, multiplication, square

alt_calc(7, 3)

(10, 4, 21, 27)

In [27]:
# accesing individual values in the return set of values which is a tuple
alt_calc_output = alt_calc(7, 3)

print(type(alt_calc_output))

difference = alt_calc_output[1]

print(difference)

<class 'tuple'>
4

In [28]:
squared = alt_calc_output[-1]

In [29]:
print(squared)

27

In [30]:
# further examples of functions
# sum of squares

def sum_squares(numbers):
    """
    parameter:
        number = list of numbers
    return:
        sum of the squares of the list numbers
    """
    squared_numbers = [] # empty list to store squared numbers
    for num in numbers: # loop through the list numbers
        squared_values = num ** 2
        squared_numbers.append(squared_values) # add squared valued to empty list
    
    # calculate the sum of squares
    squares_sum = sum(squared_numbers)
    
    return squared_numbers, squares_sum

sum_squares([10, 10, 10])

([100, 100, 100], 300)

# Built-in Function

In [ ]:
print("Koches")

##### Input

In [31]:
# this takes in user input
# Example
first_name = input("Enter your name: \n")

Enter your name:
 kocheli

In [ ]:
print(first_name)

In [ ]:
# type hinting - specify the expected types of variables, function paramets
Year = int(input("Enter Year: \n"))

type(Year)

In [ ]:
Year = input("Enter Year: ")

type(Year)

## Saturday Revision

In [58]:
# Get student name
def get_student_name():
    student_name = input("Enter Student Name: \n")
    return student_name
get_student_name()

Enter Student Name:
 Kocheli

'Kocheli'

In [60]:
def get_scores():
    """ get user input"""
    #count = 3
    student_scores = []
    subjects = ["English", "Kiswahili", "Maths", "Science", "GHC"]
    #while(count <= 3):
    for subject in subjects:
        score = int(input(f"Enter {subject} score: \n"))
        student_scores.append(score)
    return student_scores
get_scores()

Enter English score:
 55
Enter Kiswahili score:
 66
Enter Maths score:
 99
Enter Science score:
 88
Enter GHC score:
 100

[55, 66, 99, 88, 100]

In [69]:
def student_performance():
    """
    Get student name
    Get student scores
    Grade Student Score
    Sum the student scores
    Return:
        student name, student scores, student totals, grades and sum
    """
    student_name = get_student_name()
    student_scores = get_scores()
    student_grades = []
    # loop through the grades
    for score in student_scores:
        if (score >= 70) and (score <=100):
            grade = "A"
            student_grades.append(grade.strip())
        elif (score >= 60) and (score < 70):
            grade = "B"
            student_grades.append(grade.strip())
        elif (score >= 50) and (score < 60):
            grade = "C"
            student_grades.append(grade.strip())
        elif (score >= 40) and (score < 50):
            grade = "D"
            student_grades.append(grade.strip())
        elif (score < 40) and (score >= 0):
            grade = "E"
            student_grades.append(grade.strip())
        else:
            print("Invalid Grade")
            student_grades.append(None)
        
    total = sum(student_scores)
    
    return student_name, student_scores, student_grades, total

In [73]:
student_performance()

Enter Student Name:
 Shimuli Katamu
Enter English score:
 99
Enter Kiswahili score:
 34
Enter Maths score:
 88
Enter Science score:
 98
Enter GHC score:
 44

('Shimuli Katamu', [99, 34, 88, 98, 44], ['A', 'E', 'A', 'A', 'D'], 363)

In [82]:
# Multiple Number
student_number = 0
Class_performance = {
    "Name":[],
    "English":[],
    "English_grade":[],
    "Kiswahili":[],
    "Kiswahili_grade":[],
    "Maths":[],
    "Maths_grade":[],
    "Science":[],
    "Science_grade":[],
    "GHC":[],
    "GHC_grade":[],
    "Total":[],
    }
while (student_number < 2):
    individual_student = student_performance()
    individual_student = list(individual_student)
    Class_performance["Name"].append(individual_student[0])
    Class_performance["English"].append(individual_student[1][0])
    Class_performance["English_grade"].append(individual_student[2][0])
    Class_performance["Kiswahili"].append(individual_student[1][1])
    Class_performance["Kiswahili_grade"].append(individual_student[2][1])
    Class_performance["Maths"].append(individual_student[1][2])
    Class_performance["Maths_grade"].append(individual_student[2][2])
    Class_performance["Science"].append(individual_student[1][3])
    Class_performance["Science_grade"].append(individual_student[2][3])
    Class_performance["GHC"].append(individual_student[1][4])
    Class_performance["GHC_grade"].append(individual_student[2][4])
    Class_performance["Total"].append(individual_student[3])
    student_number += 1

Enter Student Name:
 Kim
Enter English score:
 55
Enter Kiswahili score:
 66
Enter Maths score:
 77
Enter Science score:
 88
Enter GHC score:
 99
Enter Student Name:
 kisum
Enter English score:
 66
Enter Kiswahili score:
 77
Enter Maths score:
 88
Enter Science score:
 99
Enter GHC score:
 99

In [83]:
Class_performance

{'Name': ['Kim', 'kisum'],
 'English': [55, 66],
 'English_grade': ['C', 'B'],
 'Kiswahili': [66, 77],
 'Kiswahili_grade': ['B', 'A'],
 'Maths': [77, 88],
 'Maths_grade': ['A', 'A'],
 'Science': [88, 99],
 'Science_grade': ['A', 'A'],
 'GHC': [99, 99],
 'GHC_grade': ['A', 'A'],
 'Total': [385, 429]}

In [84]:
import pandas as pd
df = pd.DataFrame(Class_performance)
df

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Maths,Maths_grade,Science,Science_grade,GHC,GHC_grade,Total
0,Kim,55,C,66,B,77,A,88,A,99,A,385
1,kisum,66,B,77,A,88,A,99,A,99,A,429